<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>@Model["stylist"].GetName()</title>
  </head>
  <body>
    @if(Model["clients"].Count == 0)
    {
      <p>No clients have been registered with @Model["stylist"].GetName() yet.</p>
    }
      <ul>
      @foreach(var client in Model["clients"])
      {
        <li><a href="/clients/@client.GetId()">@client.GetName()</a></li>
      }
    <a href='/clients/new'>Add a new client to @Model["stylist"].GetName()</a>
    <a href='/stylists/edit/@Model["stylist"].GetId()'>Edit @Model["stylist"].GetName()</a>
  </body>
</html>
